# vs code temps
.vscode/
.vs/

# vim temp files
*.*~

# dotnet junk
obj/

# media files
*.mp4
*.mp3

# py envs
venv/
virt/

# node_modules
node_modules/

# secrets
secrets.json

# db temps
*.db-shm
*.db-wal

# Compressed files
*.zip

# vim temps
*.*~
*.SWP

# Build folder
publish/
