<!-- Page Header Start created manually!-->
<div class="page-header position-relative text-center text-white py-5 mb-5">
    <div class="overlay"></div>
    <div class="container position-relative py-5">
        <!-- Page Title -->
        <h1 class="display-4 fw-bold mb-4">@ViewData["Action"]</h1>
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item">
                    <a class="text-white text-decoration-none" href="/">@ViewData["Controller"]</a>
                </li>
                <li class="breadcrumb-item text-primary active" aria-current="page">@ViewData["Action"]</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->