<form class="d-flex" role="search" id="search-form" action="/JobSeeker/Search" method="GET">
    <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search" required />
    <input type="hidden" name="page" value="1" />
    <button class="btn btn-success" type="submit">Search</button>
</form>