@{
    ViewData["Controller"]="Auth";
    ViewData["Action"]="ChangePassword";
}

@await Html.PartialAsync("_Header", null, ViewData);

<div class="container shadow rounded">
    <h3 class="text-center mb-4 text-primary">Change Password</h3>
    <form action="" class="form-control p-5" method=POST>
        <div asp-validation-summary="All" class="text-center text-danger"></div> 
        <label for="" class="form-label">Your Current Password</label>
        <input type="password" class="form-control outline-primary" placeholder="Enter your Current Password" name="old_password" minlength="8" required>
        <label for="" class="form-label">Your new Password</label>
        <input type="password" class="form-control outline-primary" minlength="8" placeholder="Enter Your new Password" name="new_password" required>
        <label for="" class="form-label">Confirm Your new Password</label>
        <input type="password" class="form-control outline-primary" minlength="8" placeholder="Confirm Your new Password" name="confirm_password" required>
        <hr>
        <button class="btn btn-success">Submit</button>
    </form>
</div>