@{
    ViewData["Controller"] = "Auth";
    ViewData["Action"] = "EditUser";
}

@await Html.PartialAsync("_Header", null, ViewData);

@model User

<div class="container">
    <form asp-action="EditUser" method="post" class="form-control">
        <label for="">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
        <label for="">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
        <label for="">Username</label>
        <input type="text" class="form-control" asp-for="Username">
        <label for="">Email</label>
        <input type="email" class="form-control" asp-for="Email">
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>